<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="console.layout.pattern">%d{yyyy-MM-dd-HH:mm:ss.SSS} %5p [%t] %C:%L - %m%n</Property>
        <Property name="file.layout.pattern">${console.layout.pattern}</Property>
        <Property name="fin.log.directory">${sys:catalina.base:-.}/logs</Property>
        <Property name="fin.log.archive.directory">${fin.log.directory}/archive</Property>
        <Property name="fin.log.file.name">latest.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console.layout.pattern}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${sys:fin.log.directory}/${sys:fin.log.file.name}"
                     filePattern="${sys:fin.log.directory}/%d{yyyy-MM}/%d{yyyy-MM-dd}.%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="${file.layout.pattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>